@import url('https://fonts.cdnfonts.com/css/dt-getai-grotesk-display');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

.getai {
    font-family: 'DT Getai Grotesk Display', sans-serif;
}

.geist {
    font-family: 'Geist', sans-serif;
}

.sans {
    font-family: 'DM Sans', sans-serif;
}

.navblur {
    backdrop-filter: blur(16px)
}

.orange {
    background-color: #E87A12;
}

.graybg {
    color: #FFFFFF4D;
}

.desc {
    color: #CCCCCC;
}

.point {
    cursor: pointer;
}
.dotted{
    background-image: url(/dot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}